Tests: test-mountpoint
Restrictions: allow-stderr, isolation-machine, needs-root
Depends: dpdk, gawk, mount, systemd, sysvinit-utils

Tests: test-linkage
Restrictions: allow-stderr 
Depends: libdpdk0, libdpdk-dev, libc6, libc6-dev, gcc, grep, libpcap-dev,
 libxenstore3.0
