Source: dpdk
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9), libcap-dev, doxygen, python-sphinx,
 graphviz, inkscape, texlive-latex-extra, texlive-fonts-recommended,
 python, dh-python, dh-systemd (>= 1.5), libpcap-dev, libxen-dev,
 libxenstore3.0
Standards-Version: 3.9.6
Section: libs
Homepage: http://www.dpdk.org
Vcs-Git: git://dpdk.org/dpdk
Vcs-Browser: http://www.dpdk.org/browse/dpdk/refs/

Package: dpdk
Section: devel
Architecture: amd64 i386
Depends: ${shlibs:Depends}, libdpdk0 (= ${binary:Version}),
  ${misc:Depends}, ${python:Depends}, lsb-base (>= 3.2-14)
Description: Data Plane Development Kit (runtime)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime environment to run DPDK applications.

Package: dpdk-dev
Section: devel
Architecture: amd64 i386
Depends: libdpdk0 (= ${binary:Version}), ${misc:Depends}
Description: Data Plane Development Kit (development files)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains examples and the upstream build environment. It is
 not strictly required in order to build external applications.

Package: dpdk-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, libjs-jquery, libjs-underscore
Description: Data Plane Development Kit (documentation)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the complete set of documentation and guides.

Package: libdpdk0
Architecture: amd64 i386
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries which require at least SSE3
 support in the CPU.

Package: libdpdk-dev
Section: libdevel
Architecture: amd64 i386
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, libdpdk0 (= ${binary:Version})
Description: Data Plane Development Kit (basic development files)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the basic headers and library files required to
 build external applications which will also require at least SSE3 support
 when running.
